<div class="container-fluid">
  <div class="container">
    <div class="col-md-6">
      <p class="lead" style="font-size: 18px; line-height: 200%;">
        Panasonic speed logistics is a shopping, pickups and delivery enterprise based in Nairobi.
        We specialize in shopping, pickups and delivery services to clients within Nairobi and its
        surroundings. We do home pickups and  deliveries, office shopping,temporary storage of goods,
        cheques collection, deliveries and door-to-door home deliveries. We are Tested, Trusted, Efficient, Reliable and a pillar to achieving your goals.
      </p>
    </div>
    <div class="col-md-6">
      <p class="lead" style="font-size: 18px; line-height: 200%;">
        Panasonic speed is committed to reducing stress and the hectic routine of clients. Freeing up
        your valuable time for high priority work or business, time to spend with family and friends,
        to travel, or get back to basics by allowing you to enjoy life and the leisure activities you
        should be concentrating rather than chasing after whatever errand or delivery of the parcel.
        We buffer the time between the deadline and your to do list. <i>At panasonic, You Request We pick and Deliver</i>.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h2 style="font-weight: bold;">How <span style="color: blue; font-weight: bolder;">Panasonic  speed</span> Works</h2>
  <p>Request a pick-up via our website to experience a <span style="font-weight: bolder;">SUPER FAST</span> delivery.</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "card1.png", class: "img-fluid" %>
        <div class="card-body">
          <h3 class="card-title" style="color: blue; font-weight: bolder;">1. PLACE A REQUEST(S)</h3>
          <p class="card-text" style="font-size: 15px;">Request a pick-up via our website to experience <span>SUPER FAST </span>delivery.
            Enter your pickup location and dispatch destination(s), select your dispatch category for fare and make payment.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag "dispatch.png", class: "img-fluid" %>
        <div class="card-body">
          <h3 class="card-title" style="color: blue; font-weight: bolder;">2. DISPATCH</h3>
          <p class="card-text" style="font-size: 15px;">
            Attend to your other business, within  a few minutes a panasonic speed logistics personnel will
            arrive at your pickup location to pick up your package or request for delivery or execution respectively.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <%= image_tag "delivery.png", class: "img-fluid" %>
        <div class="card-body">
          <h3 class="card-title" style="color: blue; font-weight: bolder;">3. DELIVERY/EXECUTION</h3>
          <p class="card-text" style="font-size: 15px;">
            The Delivery of the package(s) or execution of the errands is carried with detailed precision
            and constant communication with the client. Door to Door Delivery.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <%= image_tag "confirmation.png", class: "img-fluid" %>
        <div class="card-body">
          <h3 class="card-title" style="color: blue; font-weight: bolder;">4. PROOF OF DELIVERY</h3>
          <p class="card-text" style="font-size: 15px;">
            Delivery competition and proof of delivery. Once is completed you will receive an email and an sms
            with the proof of delivery. The email has a signature and complete details of your order.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
